/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
}

header#navigazione{
    width:60px;
    background-color: black;
    color: white;
    height: calc(100vh - 80px);
}

main{
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100vw - 60px);
    height: calc(100vh - 80px);
    background-color: red;
}

.conteiner{
    width: 100%;
    margin: auto;
    height: 100%;
}

/* Flex */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-btw{
    justify-content: space-between;
}

/* Tag Header */

section.conteiner div{
    width: 60%;
    margin: auto;
}

.nascosto{
    display: none;
}


/* Tag Main */

/* Section bottone */
.upgrade{
    height: 100px;
    background-color: gray;
}

/* Taskbar */
.taskbar{
    height: 80px;
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}



/* Media query s */
@media screen and (min-width: 576px){
    header#navigazione{
        width: 230px;
    }

    main{
        left: 230px;
        width: calc(100vw - 230px);
        height: calc(100vh - 80px);
    }
}


/* Media query md */
@media screen and (min-width: 768px){

}

/* Media query l */
@media screen and (min-width: 992px){

}