/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
}

header{
    width:60px;
    background-color: black;
    color: white;
    height: 100vh;
}

.conteiner{
    width: 100%;
    margin: auto;
    height: 100%;
}

/* Flex */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-btw{
    justify-content: space-between;
}

/* Tag Header */

section.conteiner div{
    width: 60%;
    margin: auto;
}


/* Tag Main */

/* Section bottone */
.upgrade{
    height: 100px;
    background-color: gray;
}