/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    position: absolute;
    top: 0;
    left: 50px;
    width: calc(100vw - 50px);
    height: calc(100vh - 80px);
    background-color: red;
}

.conteiner{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
}

i{
    font-size: 1.6em;
}


/* Flex */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-btw{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* Tag Header */
header#navigazione{
    width: 50px;
    background-color: black;
    color: #d2d2d2;
    height: calc(100vh - 80px);
}

.nascosto{
    display: none;
}

section.mezzo-conteiner div{
    padding: .3em 0;
    text-align: center;
}

.logo-piccolo{
    width: 60%;
}

.freccia-piccola{
    font-size: .7em;
}

header#navigazione img{
    color: white;
}

div#playlist ul li{
    margin-top: .9em;
}

/* Tag Main */

/* Section bottone */
.upgrade{
    height: 100px;
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bottone-upgrade{
    border-radius: 3em;
    font-size: .8em;
    padding: 1.3em;
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 20em;
    font-weight: 680;

    }

/* Section nav tipi di musica */
.conteiner-main{
    
}

/* Taskbar */
.taskbar{
    height: 80px;
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}



/* Media query s */
@media screen and (min-width: 576px){
    header#navigazione{
        width: 230px;
    }

    main{
        left: 230px;
        width: calc(100vw - 230px);
        height: calc(100vh - 80px);
    }




/* Tag Header */
.nascosto{
    display: inline-block;
}

hr.nascosto{
    display: block;
    color: white;
}

.logo-piccolo{
    display: none;
}

section.mezzo-conteiner div{
    padding: .3em 0;
    text-align: left;
    width: 70%;
    margin-left: .8em;
}

div#playlist h3{
    margin-top: 1em;
    margin-bottom: .75em;
    font-size: .9em;
    color: white;
}

div#playlist span{
    vertical-align: 15px;
    margin-left: .5em;
}

div#playlist i{
    font-size: 3.2em;
}




}


/* Media query md */
@media screen and (min-width: 768px){

}

/* Media query l */
@media screen and (min-width: 992px){

}